In [1]:
from pathlib import Path

import pandas as pd


DIR = Path("/mnt/data/Projects/Data/IKEM/colon/IBD_AI/20x")

In [2]:
# Cohort from Dec 2024

df1 = pd.read_csv(DIR / "Fab_IBD_AI_12_2024.csv", index_col=0)
df1.index = df1.index.str.lstrip("0")
df1["Lokalita"] = df1["Lokalita"].replace(
    {"cekoascendens": "cekum", "rektosigma": "rektum"}
)
df1 = df1.fillna("rektum")
df1

          Nancy Diagnoza     Lokalita
ID
2043/23       2   PSC-UC        cekum
2044/23       2   PSC-UC   descendens
2045/23       0   PSC-UC       rektum
2046/23       3   PSC-UC  transverzum
10731/23      2   PSC-UC  transverzum
...         ...      ...          ...
7771/24       0   PSC-UC        ileum
7772/24       2   PSC-UC        cekum
7773/24       1   PSC-UC  transverzum
7774/24       1   PSC-UC   descendens
7775/24       0   PSC-UC       rektum

[549 rows x 3 columns]

In [3]:
# Cohort from May 2025

df2 = pd.read_excel(DIR / "IBD_AI_2.xlsx", index_col=0)
df2 = df2.rename(columns={"lokalita": "Lokalita", "diagnoza": "Diagnoza"})
df2["Lokalita"] = df2["Lokalita"].replace(
    {
        "rektum ": "rektum",
        "rektun": "rektum",
        "retum": "rektum",
        "cekum ": "cekum",
        "transverzum ": "transverzum",
    }
)
df2 = df2.fillna("rektum")
df2

        Nancy     Lokalita Diagnoza
ID
968/21      3        cekum       UC
969/21      3  transverzum       UC
970/21      4       rektum   PSC-UC
973/24      0  transverzum   PSC-UC
975/24      3        cekum   PSC-UC
...       ...          ...      ...
947/22      0  transverzum   PSC-UC
948/22      0   descendens   PSC-UC
948/24      0        cekum       UC
949/22      0       rektum   PSC-UC
949/24      0   descendens       UC

[1253 rows x 3 columns]

In [4]:
df = pd.concat([df1, df2], axis=0)
df

          Nancy Diagnoza     Lokalita
ID
2043/23       2   PSC-UC        cekum
2044/23       2   PSC-UC   descendens
2045/23       0   PSC-UC       rektum
2046/23       3   PSC-UC  transverzum
10731/23      2   PSC-UC  transverzum
...         ...      ...          ...
947/22        0   PSC-UC  transverzum
948/22        0   PSC-UC   descendens
948/24        0       UC        cekum
949/22        0   PSC-UC       rektum
949/24        0       UC   descendens

[1802 rows x 3 columns]

In [5]:
# Missing values

df.loc["10845/22"] = (3, "PSC-UC", "rektum")
df.loc["10570/21"] = (2, "PSC-UC", "cekum")
df.loc["10140/24"] = (0, "PSC-UC", "descendens")
df.loc["10141/24"] = (0, "PSC-UC", "rektum")
df.loc["05159/24"] = (3, "UC", "descendens")
df.loc["4261/24"] = (4, "PSC-UC", "cekum")
df.loc["10139/24"] = (0, "PSC-UC", "transverzum")
df.loc["5160/24"] = (2, "UC", "rektum")
df.loc["5157/24"] = (3, "UC", "cekum")
df.loc["5158/24"] = (3, "UC", "transverzum")
df.loc["1245/24"] = (-1, "", "ileum")
df.loc["4260/24"] = (-1, "", "ileum")
df.loc["6345/24"] = (-1, "", "ileum")
df.loc["6346/24"] = (3, "UC", "cekum")
df.loc["6347/24"] = (3, "UC", "transverzum")
df.loc["6349/24"] = (3, "UC", "rektum")
df.loc["6350/24"] = (3, "UC", "rektum")

In [7]:
df.to_csv(DIR / "IBD_AI.csv", index=True)