In [3]:
from pathlib import Path

import pandas as pd


DIR = Path("/mnt/data/KNL_PATOS/colon/IBD_AI")

In [4]:
df1 = pd.read_excel(DIR / "IBD_AI_Liberec.xlsx", index_col=0)
df1.head()

                Nancy
ID
1827_25_A_HE01      0
1827_25_B_HE01      2
1918_25_A_HE01      4
2404_25_A_HE01      2
2406_25_A_HE01      2

In [5]:
df2 = pd.read_excel(DIR / "IBD_AI_Liberec_02.xlsx", index_col=0)
df2.head()

                Nancy
ID
9747_25_B_HE01      3
9747_25_C_HE01      3
9747_25_C_HE02      3
9747_25_D_HE01      3
9747_25_D_HE02      3

In [6]:
df3 = pd.read_excel(DIR / "IBD_AI_Liberec_10_2025.xlsx", index_col=0)
df3.head()

                Nancy
ID
9841_25_A_HE01      2
9841_25_A_HE02      2
9841_25_A_HE03      2
9898_25_A_HE01      4
9978_25_A_HE01      3

In [7]:
df4 = pd.read_excel(DIR / "IBD_AI_Liberec_28_10_2025.xlsx", index_col=0)
df4.head()

                 Nancy
ID
11651_25_A_HE01      2
11651_25_A_HE02      2
11847_25_A_HE01      3
11901_25_A_HE01      4
11901_25_B_HE01      2

In [6]:
df = pd.concat([df1, df2, df3, df4], axis=0)
df

                 Nancy
ID
1827_25_A_HE01       0
1827_25_B_HE01       2
1918_25_A_HE01       4
2404_25_A_HE01       2
2406_25_A_HE01       2
...                ...
13248_25_A_HE02      3
13248_25_A_HE03      3
13308_25_A_HE01      3
13486_25_A_HE01      0
13486_25_B_HE01      4

[177 rows x 1 columns]

In [7]:
for name in df.index:
    if not (DIR / name).with_suffix(".czi").exists():
        print(f"Missing file for {name}")

Missing file for 9617_25_A_HE01
Missing file for 9617_25_A_HE02
Missing file for 9617_25_A_HE03
Missing file for 9705_25_A_HE02

In [8]:
for file in DIR.glob("*.czi"):
    name = file.stem
    if name not in df.index:
        print(f"Extra file: {name}")

Extra file: 9167_25_A_HE03
Extra file: 9167_25_A_HE02
Extra file: 9167_25_A_HE01

In [16]:
df.to_csv(DIR / "IBD_AI.csv", index=True)