In [3]:
from pathlib import Path

import pandas as pd


DATA_DIR = Path("/mnt/data/FTN/colon/IBD_AI")
PROJECT_DIR = Path("/mnt/projects/inflammatory_bowel_dissease/ulcerative_colitis")

In [4]:
df1 = pd.read_excel(DATA_DIR / "IBD_AI_FTN.xlsx", index_col=0)
df1

          Nancy
ID
858/22        2
859/22        2
860/22        2
861/22        3
862/22        3
...         ...
16185/21      3
16055/21      3
16054/21      3
1590/21       0
52941/24      0

[1341 rows x 1 columns]

In [5]:
df2 = pd.read_excel(DATA_DIR / "IBD_AI_FTN_doplnek.xlsx", index_col=0)
df2 = df2.dropna()
df2["Nancy"] = df2["Nancy"].astype(int)
df2

           Nancy
ID
31757/23       2
39951/21       1
38812/23       4
52017/24       3
20508/21       1
38879/23       3
39548/21       4
220467/24      3
42299/23       0
4850/24        0
19467/24       1
3549/21        4
12531/21       4
53955/24       1
654/21         2
1172/24        0
28565/23       1
45489/24       2
42297/23       1
42298/23       2

In [9]:
df = pd.concat([df1, df2], axis=0)
df.index = df.index.str.strip()
df

          Nancy
ID
858/22        2
859/22        2
860/22        2
861/22        3
862/22        3
...         ...
1172/24       0
28565/23      1
45489/24      2
42297/23      1
42298/23      2

[1361 rows x 1 columns]

In [10]:
for slide_id in df.index:
    slide_path = DATA_DIR / f"{slide_id.replace('/', '_')}.czi"
    if not slide_path.exists():
        print(f"Missing slide: {slide_path}")

Missing slide: /mnt/data/FTN/colon/IBD_AI/53955_22.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/38875_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/29565_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/30743_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/31754_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/38871_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/38874_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/42997_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/42998_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/42999_23.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/1172_14.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/22047_24.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/45189_24.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/48050_24.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/21017_24.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/39551_21.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/39549_21.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/20965_21.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/20994_21.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/28508_21.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/645_21.czi
Missing slide: /mnt/data/FTN/colon/IBD_AI/13531_21.czi

In [11]:
for slide in DATA_DIR.glob("*.czi"):
    slide_id = slide.stem.replace("_", "/")
    if slide_id not in df.index:
        print(f"Extra slide: {slide}")

Extra slide: /mnt/data/FTN/colon/IBD_AI/30743_21.czi
Extra slide: /mnt/data/FTN/colon/IBD_AI/49683_23.czi

In [ ]:
df.to_csv(PROJECT_DIR / "IBD_AI.csv", index=True)