In [1]:
from pathlib import Path

import pandas as pd


DIR = Path("/mnt/data/KNL_PATOS/colon/IBD_AI")

In [2]:
df1 = pd.read_excel(DIR / "IBD_AI_Liberec.xlsx", index_col=0)
df1.head()

                Nancy
ID
1827_25_A_HE01      0
1827_25_B_HE01      2
1918_25_A_HE01      4
2404_25_A_HE01      2
2406_25_A_HE01      2

In [3]:
df2 = pd.read_excel(DIR / "IBD_AI_Liberec_02.xlsx", index_col=0)
df2.head()

                Nancy
ID
9747_25_B_HE01      3
9747_25_C_HE01      3
9747_25_C_HE02      3
9747_25_D_HE01      3
9747_25_D_HE02      3

In [4]:
df3 = pd.read_excel(DIR / "IBD_AI_Liberec_10_2025.xlsx", index_col=0)
df3.head()

                Nancy
ID
9841_25_A_HE01      2
9841_25_A_HE02      2
9841_25_A_HE03      2
9898_25_A_HE01      4
9978_25_A_HE01      3

In [5]:
df4 = pd.read_excel(DIR / "IBD_AI_Liberec_28_10_2025.xlsx", index_col=0)
df4.head()

                 Nancy
ID
11651_25_A_HE01      2
11651_25_A_HE02      2
11847_25_A_HE01      3
11901_25_A_HE01      4
11901_25_B_HE01      2

In [6]:
df = pd.concat([df1, df2, df3, df4], axis=0)
df

                 Nancy
ID
1827_25_A_HE01       0
1827_25_B_HE01       2
1918_25_A_HE01       4
2404_25_A_HE01       2
2406_25_A_HE01       2
...                ...
13248_25_A_HE02      3
13248_25_A_HE03      3
13308_25_A_HE01      3
13486_25_A_HE01      0
13486_25_B_HE01      4

[177 rows x 1 columns]

In [7]:
# Rename 9617_25_A_HE0N to 9167_25_A_HE0N
for i in range(1, 4):
    df = df.rename(index={f"9617_25_A_HE0{i}": f"9167_25_A_HE0{i}"})

In [8]:
# Delete label without image

df = df.drop(index="9705_25_A_HE02")

In [13]:
df.to_csv(
    "/mnt/projects/inflammatory_bowel_dissease/ulcerative_colitis/IBD_AI.csv",
    index=True,
)